.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination-button {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 17px;
    background-color: #fff;
    color:black;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .pagination-button:hover {
    background-color:black;
    color: #fff;
  }
  
  .pagination-button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
  }
  
  .pagination-button.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
  }

  .page {
    color:black;
    cursor:default;
  }
  
  .page.active {
    background-color:white;
    color:black;
    font-weight: bold;
    height:25px;
    width:25px;
    text-align:center;
    border-radius:50%;
    border: 1px black solid;
  }
  
  @media (max-width: 600px) {
    .pagination-button {
      padding: 6px 12px;
      font-size: 0.9em;
    }
  }
  